:root {
  --font-family-title: "IM Fell French Canon SC", serif;
  --font-family-body: "IM Fell French Canon", serif;

  --clr-neutral-900: #1e1e1e;
  --clr-neutral-050: #f7f7f7;

  --clr-accent-1: #ff0000;
  --clr-accent-2: #00afff;

  --size-53px: 3.3125rem;
  --size-31px: 1.9375rem;
  --size-25px: 1.5625rem;
}
