@import url(variables.css);

body {
  display: grid;
  place-items: center;
  background-color: var(--clr-neutral-800);
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.image__container {
  position:absolute;
  z-index:0;
  width: min(95% 1080px); /* This keeps the same width as the image */
}

#playing-image {
  width: 100%; /* Full width within its container */
  border-radius: 1rem;
}

#dialogue__container {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
  min-height: 20%;
  background-color: var(--clr-neutral-05);
  text-align: center;
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 1rem;
  box-shadow: 17px 19px 15px -3px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;

  #dialogue__name {
    font-size: 2rem;
    font-weight: 600;
  }

  i {
    align-self: flex-end;

    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  opacity: 0;
  display: none;
}

/** START OLD CSS IMAGE CLIC **/
.image-container {
  position: relative;
  display: inline-block;
}
.clickable-zone {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5); /* Couleur semi-transparente */
  cursor: pointer;
}
#cliquablezone1 {
  left: 34px; 
  top: 44px; 
  width: 236px; 
  height: 306px;
}

#cliquablezone2 {
  left: 400px; 
  top: 100px; 
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
}
#cliquablezone3 {
  left: 420px; 
  top: 60px; 
  width: 180px; 
  height: 90px; 
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 80%);
}

.clickable-zone:hover {
  background-color: rgba(255, 0, 0, 0.7); /* Changement de couleur au survol */
}
/** END OLD CSS IMAGE CLIC **/


/** START Menu Burger **/

.menu__game {
  top:20px;
  position:absolute;
  z-index:1;
}


.dropdown-btn {
  border-radius:3rem;
  border:2px solid #000;
  cursor: pointer;
  height :50px;
  width:50px;
  background-image:url("img/menu.png");
  background-color:  var(--clr-accent-2);
  background-repeat:no-repeat;
  background-size:60% auto;
  background-position: center;
}


.dropdown-menu-content {
  visibility: hidden;
  list-style: none;
  background-color: var(--clr-accent-2);
  text-align: center;
  width:120px;
}

.dropdown-menu-content li {
  margin-bottom: 10px;
  padding:0.2rem;
}

.dropdown-menu-content li:hover {
  background-color:var(--clr-accent-1);
  cursor: pointer;
}

.dropdown-menu-content li:hover > a {
  color: #fff;
}

.visible {
  display: block;
  margin-top:10px;
  opacity: 1;
  visibility: visible;
}

.lien__menu {
  text-decoration:none;
  color:#000;
  font-family: var(--font-family-body);
}
.image__menu {
  background-image:url("img/croix.png");
  background-size: cover;
  background-position: center;
}

.clic-right {
  text-align:right;
}

/** END Menu Burger **/