@import url(variables.css);

body {
  display: grid;
  place-items: center;
  background-color: var(--clr-neutral-800);
}

.image__container {
  position: relative;
  width: min(95% 1080px); /* This keeps the same width as the image */
}

#playing-image {
  width: 100%; /* Full width within its container */
  border-radius: 1rem;
}

#dialogue__container {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
  min-height: 20%;
  background-color: var(--clr-neutral-05);
  text-align: center;
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 1rem;
  box-shadow: 17px 19px 15px -3px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;

  #dialogue__name {
    font-size: 2rem;
    font-weight: 600;
  }

  i {
    align-self: flex-end;

    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  opacity: 0;
  display: none;
}
true